<h1>  What is LETSDo  </h1>

<p>  LETSDo is an online platform that is to reside here at www.doLETSDo.com.   As part to LETSDo there are Do and Let's pages.  Do is for note-taking as well as a cutting edge method for leaving them neatly sorted.  Let's is for sharing notes in an adjacent folder to that of what you've been working in Do.  Any subject with respect to a note in Do - no matter what it is - well, there is a reciprocal folder awaiting in Let's.  LETSDo is social.  Associates may post their notes as well as view and even borrow notes from among their peers.
</p>

<p>Please register here: </p>
<%= link_to "Register", register_path %>

<p>  If you are already registered, you may login here: </p>
<%= link_to "Log In", login_path %>









