<div class='container jumbitron well'>
 <div class='row'>
  <h1><%= @note.subject %></h1>
 </div>
 <div class='row'>
  <p><%= @note.body %></p>
 </div>
 <span><small>note created at </small><%= @note.created_at%>.<span>
</div>










