<div class='nav_item' style='padding-top: 5em'>
    <div class='row'>
      <div class='col-lg-2 col-lg-offset-1'>
      <button class="btn-danger btn-xlge">
        <%= link_to "Work", controller: "folders", action: "show_posts", id: @folder %>
      </button>
      </div>
      <div class='col-lg-2'>
      <button class="btn-success btn-xlge">
          <%= link_to "Play", controller: "folders", action: "show_posts", id: @folder %>
      </button>
      </div>
      <div class='col-lg-2'>
        <button class="btn-primary btn-xlge">
          <%= link_to "Well-Being", controller: "folders", action: "show_posts", id: @folder %>
        </button>
      </div>
    </div>
 </div>

 