<div class='well' id='charlie'>
  <%= form_for @folder do |f| %>
    <div class='control-group'>
      <%= f.label :name %>
      <%= f.text_area :name, rows: 5 %>
    </div>
    <%= f.submit "New Folder" %>
  <% end %>
</div>













