<h1> Favorites</h1>

<p>Please choose for each of the five filing systems up to 4 (that which is recommended) folders that which will reside on the Favorites Panel to reside directly of the left of the main work box.
</p>








