<div class='container-fluid'>
  <div class='row'>
    <% @posts.each do |post| %>
      <div class='col-lg-3'>
        <div>
        <%= post.title %>
       </div>
        <div>
        <%= post.body %>
        </div>
        <div>
        <%= post.creator %>
        </div>
      </div>
    <% end %>
  </div>
</div>






















































































  








  













  
