<div class='container-fluid'>
  <div class='row equal'>
  <% @posts.each do |post| %>
    <div class='col-lg-3' id='boxes'>
      <div class>
        <%= post.title %>
      </div>
      <div class>
        <%= post.body %>
      </div>
      <div class>
        <%= post.creator %>
      </div>
    </div>
    <% end %>
  </div>
</div>









































  








  













  
