<div class='container-fluid'>
  <div class='row equal'>
  <% @posts.each do |post| %>
    <div class='col-lg-3'>
      <div class='span3' id="boxes">
        <%= post.title %>
      </div>
      <div class='span3'>
        <%= post.body %>
      </div>
      <div class='span3'>
        <%= post.creator %>
      </div>
    </div>
    <% end %>
  </div>
</div>


































  








  













  
