<div class='container-fluid'>
<% @posts.each_slice(4) do |post| %>
  <div class="row">
    <% post.each do |p| %>
      <div class="col-lg-3 boxes">
        <h3>
          <span style='font-style: underline'><%= p.title %></span>
        </h3>
        <br>

        
        <p>
          <%= p.body %>
        </p>
        <small>
          <%= p.creator %>
        </small>
    </div>
    <% end %>
  </div>
<% end %>
</div>







































































 


































































































  








  













  
