<div class='container-fluid'>
<% @posts.each_slice(4) do |post| %>
  <div class="row">
    <% post.each do |p| %>
      <div class="col-lg-3">
        <%= p.body %>
      </div>
    <% end %>
  </div>
<% end %>
</div>
















































 


































































































  








  













  
